#!/usr/bin/env python
# -*- coding: UTF-8 -*-
"""Project Euler: {{index}}

{{url}}

{{title}}

{{description}}
"""

PROBLEM = {{problem}}
SOLVED = False
SPEED = float('inf')
TAGS = []


def main():
    """Solve problem."""
    print 'Project Euler: %04d' % PROBLEM
    print 'Unsolved'


if __name__ == '__main__':
    main()
